span {
	padding: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 200;
}

app-playhead{
	float: left;
}
.selected{
	font-weight: 500;
	text-decoration: underline;
}

.coloredDiv {
  height:20px; width:20px; float:left;
}

#yAsis{
	margin-left: -40px;
}

#name{
	//float: left;
	padding-left: 10px;
	height: 20px;
}
