<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="navbar-nav">
    	<a class="nav-item nav-link" routerLink="/about" routerLinkActive="active">About</a>
    	<a  class="nav-item nav-link" routerLink="/db" routerLinkActive="inactive">Database</a>
        <a  class="nav-item nav-link" routerLink="/texts" routerLinkActive="inactive">Texts</a>
    	<a class="nav-item nav-link" href="#" >Visualisation</a>
    </div>
    <div class ="logo_holder">
        <img class="logo" src="assets/logos/ncl.png"/>
        <img class="logo" src="assets/logos/white.png"/>
        <img class="logo" src="assets/logos/humboldt-logo.png"/>
    </div>
</nav>
<img style ="width:100%; position:fixed" src="/assets/map.jpg" alt="map of medieval europe"/>


<div class="main_container">
	<section class="content" >

        <h1 style="text-align: left"><span style="font-size: 62pt">CROSSING BORDERS</span> <br><span style="font-size: 22pt">in the Insular Middle Ages</span></h1>
        <!-- <h1 style="text-align: left">Crossing Borders in the Insular Middle Ages</h1> -->

        <!-- <h2></h2> -->
        <p>We need a front page for the site, explaining our principles of selection: material that has crossed linguistic and geographical materials, excluding originals and variants in original language that have travelled; noting that early print has not been included, and giving dates.
            Front page would also include bibliography, which details short form titles and abbreviations used. The bibliography will be populated by scholars cited (in short form) in the discursive entries. We also need to credit contributors on this page.
            The encyclopaedic entries for each text need to trace this history of movement, identifying notable stages of transmission/ translation. It should also make a claim for significance – why have we selected this text as a case study? These will be co-authored.
        </p>
    </section>
    <img style ="width:60%" src="/assets/map2.jpg" alt="map of medieval europe"/>
    <section class="content">
        <h2>Contributors</h2>
        <table style="width:70%; margin-bottom: 5%">
            <tr>
                <th>Dr Victoria Flood</th>
                <th>Birmingham University</th> 
                <th><a href="https://www.birmingham.ac.uk/staff/profiles/english/flood-victoria.aspx">home page</a></th>
            </tr>
            <tr>
                <th>Dr Aisling Byrne</th>
                <th>Reading University</th> 
                <th><a href="https://www.reading.ac.uk/english-literature/aboutus/Staff/a-byrne.aspx">home page</a></th>
            </tr>
            <tr>
                <th>Dr Tom Schofield</th>
                <th>Newcastle University</th> 
                <th><a href="https://www.ncl.ac.uk/sacs/staff/profile/tomschofield.html">home page</a></th>
            </tr>
        </table>
        <p>We need a front page for the site, explaining our principles of selection: material that has crossed linguistic and geographical materials, excluding originals and variants in original language that have travelled; noting that early print has not been included, and giving dates.
            Front page would also include bibliography, which details short form titles and abbreviations used. The bibliography will be populated by scholars cited (in short form) in the discursive entries. We also need to credit contributors on this page.
            The encyclopaedic entries for each text need to trace this history of movement, identifying notable stages of transmission/ translation. It should also make a claim for significance – why have we selected this text as a case study? These will be co-authored.
        </p>
    </section>
<!-- <section><h2>Crossing Borders in the Insular Middle Ages</h2></section> -->


</div>