h1, h2 {
/*font-family: 'Noto Sans HK', sans-serif;*/
font-family: 'Spectral', serif;
/*color: #b3c6bd;*/
padding-top:5%;
	padding-bottom:2%;
}
h1{
	
}
p, table {
	font-family: 'Lora', serif;
	/*padding-top: 5%;*/
	padding-bottom: 5%;
	text-align: justify;
}
.main_container{
	text-align:center;
	margin: 0 auto;
	width:100%;
	position: absolute;
	color: white;
	top:35%;
	background-color:rgba(80,80,80,0.8);
	border-top:45px solid;
	border-bottom:45px solid;
	border-color:rgba(255,255,255,0.3);

}
.content{
	text-align:center;
	margin: 0 auto;
	width:60%;
	font-size: 1.4em;
}