  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
  <!-- 	<agm-google-map-marker 
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)"> -->
    <agm-marker *ngFor="let m of markers; let i = index" 
    			[latitude]="m.lat" 
    			[longitude]="m.lng"
    			(markerClick)="clickedMarker(m.label, i)"
    			[label]="m.label">
    	<agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
	      <ng-template>
	        My first Snazzy Info Window!
	      </ng-template>
	    </agm-snazzy-info-window>
    </agm-marker>

  </agm-map>