  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
    <agm-marker *ngFor="let m of markers$; let i = index" 
    			[latitude]="m.lat" 
    			[longitude]="m.lng"
    			(markerClick)="clickedMarker(m.data, i)"
          (mouseOver)="overMarker(m.id, i)"
          (mouseOut)="outMarker(m.id, i)"
          [iconUrl]="m.icon">
    </agm-marker>
    <agm-data-layer 
      [geoJson]="geoJsonObject" 
      (layerClick)="clickedCountry($event)"
      [style]="styleFunc">
    </agm-data-layer>
  </agm-map>