h1, h2, h3 {
	font-family: 'Spectral', serif;
	padding-top:5%;
	padding-bottom:2%;
}
h3{
	color: #ffc34d;
	font-size: 2.75rem;
}
p {
	font-family: 'Spectral', serif;
}
.subtitle {
	font-size: 1.2em;
	text-transform: capitalize;
}

.main_container{
	text-align:center;
	margin: 0 auto;
	width:100%;
	position: absolute;
	color: white;
	top:35%;
	background-color:rgba(80,80,80,1);
	border-top:45px solid;
	border-bottom:45px solid;
	border-color:rgba(255,255,255,0.3);

}


.content{
	text-align:center;
	margin: 0 auto;
	width:70%;
	font-size: 1.4em;
}	
ng2-ya-table {
	margin-top: 50px;
	display: block;
}

table.ng2-ya-table .sorting_asc::after {
	content: "\f160";
    font: normal normal normal 14px/1 FontAwesome;
}

.infoPage{
	height: 100%;
}

.logo{
    height: 36px;
    right: 10px;
    margin: 15px;
}
.logo_holder{
	position: fixed;
    right: 0px;
    bottom: 0px;
    height: 50px;
}
.contentText{
	text-align:left;
	margin: 0 auto;
	width:70%;
	padding-top: 10px;
	font-size: 1.4em;
}

:host ::ng-deep a {
  color:orange;
}

a {
	color:orange;
}

a:hover {
	color:rgb(192, 125, 0);
}

#info_box{
	width:30%;
	text-align: left;
	float: left;
	padding-right: 5%;
	font-size: 12pt;
}

hr {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	width:100% !important;
}

.footnote{
	font-size: 14px;
}