nav {
	position: absolute;
    z-index: 3;
    display: inline-flex;
    width: 98%;
    pointer-events: none;
    margin-left: 10px;
}

a, select {
	background-color: #FAFAFA;
	padding: 8px;
	margin: 2px;
	border-radius: 2px;
	border: 1px solid #CCC;
	pointer-events:auto;
	font-size: 14px;
	color: #000;
}

select {
	width: 200px;
}
.menuTitle{
	margin: auto;
    position: absolute;
    left: 220px;
	right: 280px;
	top: 12px;
    text-align: -webkit-center;	
}
.menuItem {
	position: inherit;
    top: 10px;
	right: 5px;
	width: 280px;
}