nav {
	position: fixed;
    z-index: 2;
    display: inline-flex;
    width: 100%;
    pointer-events: none;
}

a, select {
	background-color: #FAFAFA;
	padding: 8px;
	margin: 2px;
	border-radius: 2px;
	border: 1px solid #CCC;
	pointer-events:auto;
}

select {
	width: 200px;
}

.menuItem {
	position: absolute;
    top: 10px;
    right: 5px;
}