<nav>

	<div class="form-group">
	  <select (change)="changeData($event)" class="form-control" id="sel1">
	    <option value="prophecy_of_the_six_kings">Six Kings</option>
	    <option value="life_of_st_edward">Life of St Edward</option>
	    <option value="pseudo_turpin">Pseudo Turpin</option>
	    <option value="bevis">Bevis</option>
	    <option value="fierabras">Fierabras</option>
	  </select>
	</div>

	<div class="menuItem">
		<a href="#" >Visualisation</a>
		<a routerLink="/db" routerLinkActive="active">Database</a>
	</div>
    
</nav>

<router-outlet></router-outlet>



