nav {
	position: absolute;
    z-index: 3;
    display: inline-flex;
    width: 100%;
    pointer-events: none;
	margin-left: 0px;
	padding: 0 10px;
	height: 45px;
    background-color: #333;

}

a, select {
	background-color: #333;
	padding: 8px;
	margin: 2px;
	border-radius: 2px;
	/* border: 1px solid #fff; */
	pointer-events:auto;
	font-size: 14px;
	color: #FFF;
}

select {
	width: 200px;
}
.menuTitle{
	margin: auto;
    position: absolute;
    left: 220px;
	right: 280px;
	top: 12px;
	text-align: -webkit-center;	
	color: #FFF;
}
.menuItem {
	position: inherit;
    top: 10px;
	left: 5px;
	width: 350px;
}
.menuSelect {
	right: 5px;
    position: inherit;
}