<nav>

	<div class="form-group">
	  <select (change)="changeData($event)" class="form-control" id="sel1">
		<option value="proffwydoliaeth_merdin">---ROMANCE & PROPHECY---</option>
		<option value="proffwydoliaeth_merdin" selected>Prophecies of Merlin</option>
		<option value="pseudo_turpin">Pseudo-Turpin Chronicle</option>
		<option value="fierabras">Fierabras</option>
		<option value="roman_alexandre">Alexander</option>
		<option value="bevis">Bevis of Hampton</option>
		<option value="prophecy_of_the_six_kings">Prophecy of the Six Kings</option>
		<option value="marwolaeth_mair">---HAGIOGRAPHY & RELIGIOUS WORKS---</option>
		<option value="marwolaeth_mair">Assumption of the Virgin Mary</option>
		<option value="elucidarium">Elucidarium</option>
	    <option value="life_of_st_edward">Life of St Edward</option>
	  </select>
	</div>

	<div class="menuTitle">
		<p [innerHTML]="title"></p>
	</div>

	<div class="menuItem">
		<a href="#" >Visualisation</a>
		<a routerLink="/db" routerLinkActive="active">Database</a>
	</div>
    
</nav>

<router-outlet></router-outlet>



