div {
  text-align: center;
  padding-top: 50px;
}

app-d3graph {
	display: block;
	position: absolute;
	z-index: 2;
	width: 99%;
	background: rgb(239, 236, 232);
	margin: -60px 5px 0px 5px;
    padding-top: 60px;
    border-radius: 5px;
	-webkit-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.5);
	box-shadow: -1px 3px 5px 0px rgba(0,0,0,0.5);
}