<div class="modal-body">
	<h6>{{selectedData.name}}</h6>

	<div *ngIf="(data.length>1)">
		<h6>{{this.selected+1}} of {{data.length}} manuscripts selected:</h6>
		<button (click)="prev(d, $event)" class="btn btn-outline-dark"> &#8592; Previous </button>
		<button (click)="next(d, $event)" class="btn btn-outline-dark">Next &#8594;</button>
		<hr class="end">
	</div>
	<div>
		<p>{{selectedData.language}} {{selectedData.compilationDate}}</p>
		<p>{{selectedData.compilationPlace}}</p>
		<p>{{selectedData.overview}}</p>
		<em><b>Shelf Mark: </b> {{selectedData.shelfmark}}</em>
		<disqus style="padding:15px; display: none;" [identifier]="disqus_textname" [url]="'http://example.com/hello-world/#!'+disqus_textname"
		 [title]="disqus_textname" (newComment)="onNewComment($event)"></disqus>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>