<div class="modal-body">
	<div *ngFor="let d of data"> 
	  <h5>{{d.name}}</h5> 
	  <p>{{d.language}} {{d.compilationDate}}</p>
	  <p>{{d.compilationPlace}}</p>
	  <p>{{d.overview}}</p>
	  <hr>
	  <em>{{d.shelfmark}}</em>
	  <button (click)="clicked(d, $event)">Show Comments</button>
	  <div [ngClass]="(status == d.id) ? 'hidden' : 'showing'" id="disqus_thread"></div>
	 <!--  <disqus class="hidden" [identifier]="'test-'+data[0].id" [url]="'http://example.com/hello-world/#!'+data[0].id" [title]="'test'+data[0].id"></disqus> -->
	  <hr class="end">
	</div>

	<!-- <disqus [identifier]="'test-'+data[0].id" [url]="'http://example.com/hello-world/#!'+data[0].id" [title]="'test'+data[0].id"></disqus> -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>